
/************************************************************************/
/* Modal Dialogs */


/* .skalkaModal */
.skalkaModal .fancybox-outer {
	background: #fff;
	text-align: left;
}
/*
.skalkaModal .popupTitle {
	height: 50px;
	line-height: 50px;
	padding: 0 21px;
	font-size: 26px;
	font-family: Helvetica;
	color: #fff;
	background: #999;
	border-radius: 5px 5px 0 0;
}
*/
.skalkaModal .fancybox-title {
	display: none;
}
.skalkaModal .container {
	padding: 27px;
}
.skalkaModal .inputContainer {
	background: #f1f1f1;
	border-radius: 6px;
	padding: 6px;
	margin: 0 0 13px;
	display: block;
}
.skalkaModal .inputContainer .inner {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #d6d6d6;
	line-height: 21px;
	height: 21px;
	padding: 6px;
}
.skalkaModal .inputContainer .input-text {
	border: none;
	margin: 0 0 0 6px;
	height: auto;
	font-size: 13px;
	font-family: Helvetica;
	color: #9f9f9f;
	float: left;
	padding: 0;
	height: 21px;
}
.skalkaModal .inputContainer .label {
	display: block;
	float: left;
	color: #2f2f2f;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #CCC;
	padding: 0 12px 0 4px;
	font-size: 15px;
	font-weight: bold;
}
.skalkaModal .inputContainer .label.progress {
	background: transparent url(/public/images/progress4.gif) no-repeat 50% 50%;
	text-indent: -9999em;
	width: 47px;
	padding: 0;
}
.skalkaModal .buttonsContainer {
	clear: both;
}

/* .skalkaModalRound */

.skalkaModalRound {
	text-align: left;
}
.skalkaModalRound .popupTitle {
	height: 40px;
	line-height: 40px;
	padding: 22px 27px 0;
	font-size: 26px;
	color: #333333;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
}
.skalkaModalRound .fancybox-outer {
	border-radius: 15px;
	box-shadow: 0px 20px 100px #323232!important;
}
.skalkaModalRound .fancybox-inner {
	overflow: visible!important;
}
.skalkaModalRound .input-text {
	border: none;
	height: auto;
	font-size: 22px;
	font-family: Helvetica;
	color: #343434;
	padding: 0;
	height: 34px;
}
.skalkaModalRound select {
	border: none;
	height: 34px;
}

/************************************************************************/
/* PRODUCT ADD DIALOG */

.giftSubmit {
	width: 690px;
	min-height: 181px;
}
.giftSubmit .popupTitle {
	padding-left: 80px;
	background: transparent url(/public/images/icons/gift_green.png) no-repeat 30px 20px;
}
.giftSubmit .inputContainer .input-text {
	width: 500px;
}
.giftSubmit .productInfo {
	display: none;
}

/* IMAGES */
.giftSubmit .productInfo .imagesContainer {
	float: left;
	background: #f1f1f1;
	border-radius: 5px;
	padding: 6px 6px 10px;
	margin: 0 15px 0 0;
}
.giftSubmit .productInfo .imagesContainer .images {
	height: 140px;
}
.giftSubmit .productInfo .imagesContainer .images li {
	width: 140px;
	height: 140px;
}
.giftSubmit .productInfo .imagesContainer .images li img {
	width: 140px;
	height: 140px;
}
.giftSubmit .productInfo .imagesContainer .buttons {
	padding: 6px 0 0;
}
.giftSubmit .productInfo .imagesContainer .buttons span {
	width: 37px;
	height: 25px;
	background: transparent url(/public/images/bg_btn_blue.jpg) repeat-x 0 0;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	box-shadow: 0px 1px 1px #3c7b87;
}
.giftSubmit .productInfo .imagesContainer #prevBtn { float: left; }
.giftSubmit .productInfo .imagesContainer #nextBtn { float: right; }
.giftSubmit .productInfo .imagesContainer #prevBtn a {
	display: block;
	height: 25px;
	background: transparent url(/public/images/icons/arrow_left.gif) no-repeat 40% 50%;
	text-indent: -9999em;
}
.giftSubmit .productInfo .imagesContainer #nextBtn a {
	display: block;
	height: 25px;
	background: transparent url(/public/images/icons/arrow_right.gif) no-repeat 60% 50%;
	text-indent: -9999em;
}
.giftSubmit .productInfo .form-list {
	float: left;
	width: 469px;
	padding: 0;
}
.giftSubmit .productInfo .form-list li {
	
}
.giftSubmit .productInfo .inputContainer.description {
	float: left;
	margin-right: 10px;
}
.giftSubmit .productInfo .inputContainer.price {
	float: left;
}
.giftSubmit .productInfo .inputContainer.description .input-text {
	width: 233px;
}
.giftSubmit .productInfo .inputContainer.price .input-text {
	width: 60px;
}
.giftSubmit .productInfo .inputContainer.story {
	margin-bottom: 0;
}
.giftSubmit .productInfo .inputContainer.story .inner {
	height: auto;
}
.giftSubmit .productInfo .inputContainer.story .label {
	float: none;
	border-width: 0px 0px 1px;
	padding-left: 0px;
}
.giftSubmit .productInfo .inputContainer.story textarea {
	float: none;
	width: 443px;
	margin: 0;
	height: 74px;
	padding: 5px 0 0;
}
.giftSubmit .buttonsContainer {
	padding: 22px 0 0;
	text-align: center;
}
.giftSubmit .buttonsContainer .button {
	display: inline-block;
}
.giftSubmit .buttonsContainer .button span {
	padding: 0;
}
.giftSubmit .buttonsContainer .button span span {
	padding: 0 35px;
}

/************************************************************************/
/* INVITE FRIENDS DIALOG */

.inviteFriends {
	background: transparent url(/public/images/bg_body.gif) 0 0;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	width: 790px;
	border-radius: 15px;
}
.inviteFriends .inviteBlock {
	width: 510px;
	float: left;
	padding: 28px 28px 20px 32px;
	border-right: 1px solid #bbb;
	background: #fff;
	border-radius: 15px 0 0 15px;
}
.inviteFriends .inviteBlock .blockTitle {
	font-size: 26px;
	padding: 0 0 20px 50px;
	background: transparent url(/public/images/icons/invite_friends.png) no-repeat 0 0;
	line-height: 1;
}
.inviteFriends .inviteBlock .tab-content {
	height: 200px;
	overflow-y: auto;
}
.inviteFriends .inviteBlock .friendList {
	margin-left: -14px;
}
.inviteFriends .inviteBlock .friendList li {
	float: left;
	padding: 2px;
	width: 152px;
	border: 1px solid #e2e2e2;
	border-radius: 2px;
	font-family: Arial;
	margin: 0 0 9px 14px;
}
.inviteFriends .inviteBlock .friendList img {
	width: 35px;
	height: 35px;
	float: left;
}
.inviteFriends .inviteBlock .friendList .label {
	margin: 0 0 0 44px;
	font-size: 11px;
}
.inviteFriends .inviteBlock .friendList .userName {
	margin: 0 0 0 44px;
	font-size: 13px;
}

.inviteFriends .participantsBlock {
	width: 200px;
	float: right;
	padding: 35px 0 0 19px;
	height: 392px;
	background: transparent url(/public/images/bg_participants_block_shadow.png) repeat-y 0 0;
}
.inviteFriends .participantsBlock .title {
	line-height: 1;
	font-size: 17px;
	color: #262626;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif;
	margin: 0 0 15px;
}
.inviteFriends .participantsBlock #participantsList {
	margin: 0 0 0 -8px;
}
.inviteFriends #participantsList li {
	float: left;
	margin: 0 0 8px 8px;
	background: #fff;
	padding: 2px;
	border: 1px solid #e2e2e2;
	border-radius: 4px;
}
.inviteFriends .participantsBlock li img {
	width: 49px;
	height: 49px;
}

/************************************************************************/
/* SELECT FRIEND DIALOG */
/************************************************************************/

.selectFriend {
	padding: 60px 28px 50px 33px;
	background: transparent url(/public/images/bg_body.gif) 0 0;
	border-radius: 15px;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	width: 600px;
	position: relative;
}
.selectFriend .title {
	font-size: 40px;
	line-height: 1;
	margin: 0 0 12px;
}
.selectFriend .hint {
	font-size: 15px;
	line-height: 1;
	margin: 0 0 38px;
}
.selectFriend .formList {
	height: 150px;
}
.selectFriend .inputContainer {
	width: 375px;
	border: 1px solid #b1b1b1;
	border-radius: 9px;
	background: #fff;
	padding: 0 10px;
	margin-bottom: 18px;
	box-shadow: 0px 1px 1px #fff;
}
.selectFriend .inputContainer:focus {
	border-color: #0da8d5;
}
.selectFriend .inputContainer .inner {
	padding: 10px 0 10px 48px;
}
.selectFriend .inputContainer.friend .inner {
	background: transparent url(/public/images/icons/select_friend.png) no-repeat 0 50%;
}
.selectFriend .inputContainer.occasion .inner {
	background: transparent url(/public/images/icons/select_occasion.png) no-repeat 2px 4px;
}
.selectFriend .input-text {
	width: 325px;
}
.selectFriend select {
	width: 329px;
}
.selectFriend .buttonsContainer {
	text-align: center;
	padding: 22px 0 0;
}
.selectFriend .buttonsContainer .button {
	display: inline-block;
	margin-bottom: 25px;
}
.selectFriend .buttonsContainer .close {
	font-weight: bold;
	cursor: pointer;
}
.selectFriend .bow {
	width: 276px;
	height: 284px;
	position: absolute;
	top: -32px;
	right: -65px;
	background: transparent url(/public/images/icons/bow.png) no-repeat 0 0;	
}
.ui-autocomplete {
	padding: 0;
	border-radius: 0 0 9px 9px;
	box-shadow: 0 2px 3px #c8c8c8;
}
.ui-autocomplete .ui-menu-item {
	border-bottom: 1px solid #cfcfcf;
	background: #fefefe;
	line-height: 49px;
}
.ui-autocomplete .ui-menu-item:hover {
	background: #eaeaea;
}
.ui-autocomplete .ui-menu-item:last-child {
	border-radius: 0 0 9px 9px;
}
.ui-autocomplete .ui-menu-item a {
	color: #292929;
	text-decoration: none;
	padding: 5px 14px!important;
}
.ui-autocomplete .ui-menu-item a,
.ui-autocomplete .ui-menu-item a:hover {
	background: none!important;
}
.ui-autocomplete .ui-menu-item img {
	height: 49px;
	width: 49px;
	margin: 0 10px 0 0;
}

/************************************************************************/
/* PRODUCT DETAIL DIALOG */
/************************************************************************/

.productDetails {
	width: 880px;
	background: transparent url(/public/images/bg_body.gif) 0 0;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	border-radius: 15px;
}
.productDetails .container {}
.productDetails .info {
	float: left;
	background: #f2f2f2;
	border-radius: 15px 0 0 15px;
	padding: 25px 25px 25px 306px;
	width: 268px;
	position: relative;
	min-height: 356px;
	border-right: 1px solid #bbb;
}
.productDetails .info .actions {
	position: absolute;
	bottom: 25px;
	left: 25px;
}
.productDetails .info .actions .button {
	margin-right: 10px;
	float: left;
}
.productDetails .info .imageBox {
	position: absolute;
	left: -19px;
	top: -12px;
	background: transparent url(/public/images/bg_product_popup_image.png) no-repeat 0 0;
	width: 299px;
	height: 369px;
}
.productDetails .info .imageBox img {
	width: 250px;
	-moz-transform: rotate(356deg);
	-webkit-transform: rotate(356deg);
	padding: 30px 0 0 14px;
}
.productDetails .info .price {
	position: absolute;
	top: -2px;
	left: 571px;
	background: transparent url(/public/images/bg_product_popup_price.png) no-repeat 100% 0;
	padding: 0 17px 0 0;
	height: 81px;
	font-size: 20px;
	text-shadow: 0px 1px 1px #5e8703;
	color: #fff;
}

.productDetails .info .price div {
	display: block;
	background: transparent url(/public/images/bg_product_popup_price.png) no-repeat 0 0;
	padding: 28px 10px 0 37px;
	line-height: 37px;
	height: 53px;
}
.productDetails .info .title {
	color: #333333;
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", sans-serif;
	font-size: 26px;
	margin: 0 0 10px;
}
.productDetails .info .description {
	line-height: 17px;
	color: #141414;
	margin: 0 0 15px;
}
#votingPanel {
	margin: 0 0 15px;
}

/* VOTING BUTTONS */
#votingPanel .button {
	float: left;
}
#votingPanel .button span {
	height: 34px;
	background: none;
	background-image: url(/public/images/bg_button_voting.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	border: 1px solid #c7c7c7;
	/*box-shadow: 0px 1px 1px #555555;*/
	color: #373737;
	text-shadow: 0px 1px 1px #fff;
	box-shadow: none;
	padding-left: 20px;
}
#votingPanel .button span span {
	border: none;
	box-shadow: none;
	background-image: url(/public/images/icons/yes_no.png);
	background-repeat: no-repeat;
	padding: 0 20px 0 30px;
}
#votingPanel .button:hover span {
	background-position: 0px -35px;
	border: 1px solid #999999;
	box-shadow: 0px 2px 3px #b0b0b0 inset;
}
#votingPanel .button:hover span span {
	border: none;
	box-shadow: none;
}

/* YES button */
#votingPanel .voteForButton span {
	border-radius: 5px 0 0 5px;
}
#votingPanel .voteForButton span span {
	background-position: 0px 6px;
}
#votingPanel .voteForButton:hover span span {
	background-position: 0px 6px;
}

/* NO button */
#votingPanel .voteAgainstButton {
	margin-left: 0px;
}
#votingPanel .voteAgainstButton span {
	border-radius: 0px 5px 5px 0px;
}
#votingPanel .voteAgainstButton span span {
	background-position: 0px -70px
}
#votingPanel .voteAgainstButton:hover span span {
	background-position: 0px -70px
}

.voteRatebar {
    height: 5px;
    margin: 15px 0;
    overflow: hidden;
}
.voteRatebarLikes {
    float: left;
    height: 5px;
    background: transparent url(/public/images/bg_voting_progress.png) repeat-x 0 0;
}
.voteRatebarDislikes {
    float: right;
    height: 5px;
    background: transparent url(/public/images/bg_voting_progress.png) repeat-x 0 -5px;
}
.productDetails .comments {
	width: 270px;
	float: right;
	padding: 100px 0 0 10px;
	height: 300px;
	background: transparent url(/public/images/bg_participants_block_shadow.png) repeat-y 0 0;
}
