
/************************************************************************/
/* Modal Dialogs */

.skalkaModal .fancybox-outer {
	background: #fff;
	text-align: left;
}
.skalkaModal .fancybox-outer {}
.skalkaModal .popupTitle {
	height: 50px;
	line-height: 50px;
	padding: 0 21px;
	font-size: 26px;
	font-family: Helvetica;
	color: #fff;
	background: #999;
	border-radius: 5px 5px 0 0;
}
.skalkaModal .container {
	padding: 15px 18px;
}
.skalkaModal .inputContainer {
	background: #f1f1f1;
	border-radius: 6px;
	padding: 6px;
	margin: 0 0 18px;
	display: block;
}
.skalkaModal .inputContainer .inner {
	background: #fff;
	border-radius: 6px;
	border: 1px solid #d6d6d6;
	line-height: 21px;
	height: 21px;
	padding: 6px;
}
.skalkaModal .inputContainer .input-text {
	border: none;
	margin: 0 0 0 6px;
	height: auto;
	font-size: 13px;
	font-family: Helvetica;
	color: #9f9f9f;
	float: left;
	padding: 0;
	height: 21px;
}
.skalkaModal .inputContainer .label {
	display: block;
	float: left;
	color: #2f2f2f;
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #CCC;
	padding: 0 12px 0 4px;
	font-size: 15px;
	font-weight: bold;
}
.skalkaModal .inputContainer .label.progress {
	background: transparent url(/public/images/progress.gif) no-repeat 20% 50%;
	text-indent: -9999em;
	width: 47px;
	padding: 0;
}


/************************************************************************/
/* PRODUCT ADD DIALOG */

.giftSubmit {
	width: 670px;
}
.giftSubmit .inputContainer .input-text {
	width: 500px;
}
.giftSubmit .productInfo {
	display: none;
}

/* PRODUCT DETAIL DIALOG */

#productDetailsContent{
margin: 0;
max-height: 300px;
overflow: auto;
}

.product_details {
	width: 294px;
	background: #fff;
	box-shadow: 0 1px 3px #C5C5C5;
	border-radius: 5px;
	padding: 7px;
	/*float: left;*/
	/*position: absolute;*/
}

.product_details .image-box {
	position: relative;
	margin: 0 0 39px;
}

.product_details .image-box .price {
	position: absolute;
	bottom: -40px;
	left: -19px;
	background: transparent url(/public/images/bg_price.png) no-repeat 100% 0;
	padding: 0 14px 0 0;
	height: 46px;
	line-height: 35px;
	font-size: 17px;
	font-weight: bold;
	text-shadow: 0px 1px 1px #5e8703;
	color: #fff;
}

.product_details .image-box .price div {
	display: block;
	background: transparent url(/public/images/bg_price.png) no-repeat 0 0;
	padding: 0 7px 0 29px;
	height: 46px;
}
.product_details .description {
	padding: 0 0 0 35px;
	background: transparent url(/public/images/bg_feed_item_quote.png) no-repeat 5px 4px;
	line-height: 17px;
	margin: 0 0 15px;
}
.product_details .user-info {
	margin: 0 -7px -7px -7px;
	padding: 20px 16px 16px;
	background: #f4f4f4 url(/public/images/bg_feed_item_user_info.png) no-repeat 0 0;
	border-radius: 0 0 5px 5px;
}
.product_details .user-info .user-img {
	float: left;
	padding: 2px;
	border: 1px solid #e2e2e2;
}
.product_details .user-info .user-name {
	line-height: 50px;
	margin: 0 0 0 70px;
	color: #a5a5a5;
}
.product_details .user-info .user-name span {
	color: #06bfda;
	font-weight: bold;
	font-style: italic;
}


/* SELECT USER DIALOG */

.friendSuggestion {
	background-color: #f1f1f1;
}

/* IMAGES */
.giftSubmit .productInfo .imagesContainer {
	float: left;
	background: #f1f1f1;
	border-radius: 5px;
	padding: 6px 6px 10px;
	margin: 0 28px 0 0;
}
.giftSubmit .productInfo .imagesContainer .images {
	height: 175px;
}
.giftSubmit .productInfo .imagesContainer .images li {
	width: 172px;
	height: 175px;
}
.giftSubmit .productInfo .imagesContainer .images li img {
	width: 172px;
	height: 175px;
}
.giftSubmit .productInfo .imagesContainer .buttons {
	padding: 6px 0 0;
}
.giftSubmit .productInfo .imagesContainer .buttons span {
	width: 37px;
	height: 25px;
	background: transparent url(/public/images/bg_button_blue.jpg) repeat-x 0 0;
	border-radius: 4px;
	cursor: pointer;
	display: block;
	box-shadow: 0px 1px 1px #3c7b87;
}
.giftSubmit .productInfo .imagesContainer #prevBtn { float: left; }
.giftSubmit .productInfo .imagesContainer #nextBtn { float: right; }
.giftSubmit .productInfo .imagesContainer #prevBtn a {
	display: block;
	height: 25px;
	background: transparent url(/public/images/icons/arrow_left.gif) no-repeat 40% 50%;
	text-indent: -9999em;
}
.giftSubmit .productInfo .imagesContainer #nextBtn a {
	display: block;
	height: 25px;
	background: transparent url(/public/images/icons/arrow_right.gif) no-repeat 60% 50%;
	text-indent: -9999em;
}
.giftSubmit .productInfo .form-list {
	float: left;
	width: 420px;
	padding: 6px 0 0;
}
.giftSubmit .productInfo .form-list li {
	margin: 0 0 15px;
}
.giftSubmit .productInfo .inputContainer.description {
	float: left;
	margin-right: 10px;
}
.giftSubmit .productInfo .inputContainer.price {
	float: left;
}
.giftSubmit .productInfo .inputContainer.description .input-text {
	width: 190px;
}
.giftSubmit .productInfo .inputContainer.price .input-text {
	width: 54px;
}
.giftSubmit .productInfo .inputContainer.story .inner {
	height: auto;
}
.giftSubmit .productInfo .inputContainer.story .label {
	float: none;
	border-width: 0px 0px 1px;
	padding-left: 0px;
}
.giftSubmit .productInfo .inputContainer.story textarea {
	float: none;
	width: 394px;
	margin: 0;
	height: 75px;
	padding: 5px 0 0;
}

/************************************************************************/
/* INVITE FRIENDS DIALOG */

.inviteFriends {}
.inviteFriends .container {
	padding: 0;
}
.inviteFriends .inviteBlock {
	width: 510px;
	float: left;
	padding: 20px 28px 20px 32px;
}
.inviteFriends .participantsBlock {
	width: 217px;
	float: right;
}





