<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="User" type="com.skalka.server.domain.User" />
	</typeAliases>
	
	<typeHandlers>
        <typeHandler handler="com.skalka.server.db.handlers.BigIntegerTypeHandler" javaType="java.math.BigInteger"/>
    </typeHandlers>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://localhost:3306/doc" />
				<property name="username" value="doc" />
				<property name="password" value="doc" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/skalka/server/db/mappers/UserMapper.xml" />
	</mappers>
</configuration>