<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Skalka</title>
		<link rel="icon" href="#" type="image/x-icon" />
		<link rel="shortcut icon" href="#" type="image/x-icon" />
		
		<link rel="stylesheet" type="text/css" href="@{'/public/css/reset.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/css/style.css'}" />

        #{if user}
        	<script type="text/javascript">
        		var access_token = "${user.accessToken}";
        	</script>
        #{/if}
		
		<script type="text/javascript" src="@{'/public/js/jquery/jquery-1.7.1.min.js'}"></script>		
		<script type="text/javascript" src="@{'/public/js/custom.scripts.js'}"></script>		
	</head>
	
	<body>
		<div class="wrapper">
		    <div class="page">
				#{header user: user/}        
				<div class="main-container col1-layout">				
				    <div class="main">				    
						#{sidebar /}				    
				    	<div class="col-main">				    		
							#{doLayout /}				    		
				    	</div>
				    </div>
				</div>        
				<div class="footer-container">
    				<div class="footer"></div>
    				<div class="post-footer"></div>
    			</div>

    		</div>
    	</div>
    	
	</body>
</html>
