#{extends 'main.html' /}
<script type="text/javascript">
	initPageless();
    setInterval("reloadBox()", 5000);
</script>
<div class="main-container col1-layout">				
    <div class="main productFeed">				    
    	#{sidebar user:targetUser, list: list, giftBox: giftBox/}				    
    	<div class="col-main">

    		<div class="titleBlock">
    			<p>
    				Edit <a href="@{Application.profile()}" >${targetUser}'s profile</a>
					for better suggestions or <a class="submitIdea" href="#addProduct">submit your own idea</a>.
					<a class="changeFriend" href="#selectFriend">Select friend</a>
    			</p>
    		</div>
    		<div class="jsout"></div>
    		<div class="grid-layout" id="grid-wrapper">
    		<div class="feed" id="items-container">
    		<a class="openProductDetails" href="#productDetails"></a>
				#{product products: products/}    		
    		</div>
    		</div>
    		
    		<script type="text/javascript">
    			GridLayout.setup();
    		</script>
    		
    	</div>
    </div>
</div> 