#{extends 'main.html' /}
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script type="text/javascript">
	initPageless();
    setInterval("reloadBox()", 5000);
	getMutualFriendsForSidebar();		//added by zjor    
</script>
<div class="main-container col1-layout">				
    <div class="main productFeed">				    
    	#{sidebar user:targetUser, list: list, giftBox: giftBox/}				    
    	<div class="col-main">

    		<div class="titleBlock">
    			<h1>Gift Suggestions for ${targetUser}</h1>
    			<p>
    				Edit <a href="@{Application.profile()}" >${targetUser}'s profile</a> for better suggestions or 
    				<a class="submitIdea" href="#addProduct" onclick="javascript:context.addProductToList=true;">submit your own idea</a>.
    			</p>
    		</div>
    		<div class="grid-layout" id="grid-wrapper">
    			<div class="feed" id="items-container">
    				<a class="openProductDetails" href="#productDetails"></a>
					#{product products: products, inFeed: true/}    		
    			</div>
    		</div>
    		
    		<script type="text/javascript">
    			GridLayout.setup();
    		</script>
    		
    	</div>
    </div>
</div> 