#{extends 'main.html' /}

<div class="feedToolbar">
	<p class="title">Suggestions based on <span>Valentin's profile</span></p>
	<div class="jsout"></div>
</div>
<div class="grid-layout" id="grid-wrapper">
<div class="feed" id="items-container">

#{list items:products, as:'product'}
	<div class="item" id="${product.id}" data-id="${product.id}">
		<div class="image-box">
			<img src="@{Products.image(product.id)}" alt="${product.id}"/>
			<div class="price">
				<div>
					${product.price}
				</div>
			</div>
		</div>
		<p class="description">
	    	${product.descr}
	    </p>
	    <div class="user-info">
	    	<div class="user-img">
	    		<img src="${product.getAuthor()?.getImageUrl()}" alt="user's image"/>
	    	</div>
	    	<p class="user-name">
	    		Submitted by <span>${product.getAuthor()}</span>
	    	</p>
	    	<div class="clear"></div>
	    </div>
	</div>
#{/list}


</div>
</div>

<script type="text/javascript">
	GridLayout.setup();
</script>