#{extends 'main.html' /}

<div class="main-container">
	<div class="main userProfile">

		<div class="col-left sidebar">
			<div class="userPic">
				<a title="${targetUser?.firstName}">
					<img src="${targetUser?.getImageUrl('normal')}" alt=""/>
				</a>
			</div>
			<div class="callToAction">
				We haven't got enough information about ${targetUser}, please answer some questions.
			</div>
			<div class="actions">
				<button id="btnSubmit" type="button" class="button blue">
					<span><span>Save Profile</span></span>
				</button>
			</div>
			<script type="text/javascript">
				initProfileEditor("#btnSubmit", "/friends/addCategories?occasion=${occasion}&" );
			</script>
			
		</div>

		<div class="col-main">
			<div class="titleBlock">
				<a href="@{Application.index()}" class="backLink">Back to ${targetUser?.firstName}'s birthday gift</a>
				<h1 class="title">Describe ${targetUser}</h1>
				<p class="hint">
					Click images that match ${targetUser?.firstName}'s character
				</p>
    		</div>
    		
    		<div class="categories">
				#{list items:categories.keySet(), as:'cat'}
					<h2 class="categoryTitle">${cat?.name}</h2>
					<ul class="subCategories">
					    #{list items:categories.get(cat), as:'sub'}
					    	#{if sub?.isSelected}
					    		<li class="item sel" id="${sub.id}">
					    	#{/if}
					    	#{else}
								<li class="item" id="${sub.id}">
							#{/else}
								<img src="${sub.imageUrl}" alt="Subcategory Image"/>
								<p class="name">${sub?.name}</p>
							</li>	
					    #{/list}
				    </ul>    
				#{/list}
    		</div>    		
    	</div>    	
    </div>
</div> 
