#{extends 'main.html' /}

<div class="main-container">
	<div class="main userProfile">

		<div class="col-left sidebar">
			<div class="userPic">
				<img src="@{'/public/images/userpic.png'}" alt="Valentin Kravtsov"/>
			</div>
			<div class="callToAction">
				We havent’t got enough information about Valentin, please answer some questions.
			</div>
			<div><input id="btnSubmit" type="button" value="Submit.." /></div>
			<script type="text/javascript">
				initProfileEditor();
			</script>
		</div>

		<div class="col-main">
			<div class="titleBlock">
				<a href="@{Application.index()}" class="backLink">Back to Valentin’s birthday gift</a>
				<h1 class="title">Describe Valentin</h1>
				<p class="hint">
					Click images that match Valentin’s character
				</p>
    		</div>
    		
    		<div class="categories">
				#{list items:categories.keySet(), as:'cat'}
					<h2 class="categoryTitle">${cat.name}</h2>
					<ul class="subCategories">
					    #{list items:categories.get(cat), as:'sub'}
							<li class="item" id="${sub.id}">
								<img src="@{sub.imageUrl}" alt="Subcategory Image"/>
								<p class="name">${sub.name}</p>
							</li>	
					    #{/list}
				    </ul>    
				#{/list}
    		</div>    		
    	</div>    	
    </div>
</div> 
