<div class="header-container">
    <div class="header">
        <a class="logo" href="#">
        	<img src="@{'/public/images/logo.png'}" alt="Skalka logo" />
        </a>
        <div class="eventControls">
        	<select id="eventSelect">
        		<option value="one">Event One</option>
        		<option value="two">Event Two</option>
        	</select>
        	<a href="#" id="eventNew">Add new gift list</a>
        </div>
        <div class="user">
        	User image
    		<a class="expander" href="#">&nbsp;</a>
    		<p class="username">User Name</p>
        </div>
        <a class="idea" href="#">
        	<span>Submit gif idea</span>
        </a>
    </div>
</div>

