<div class="hidden">

	<img src="@{'/public/images/progress4.gif'}"/>
		
	<!-- SUBMIT NEW PRODUCT POPUP -->
	<div class="giftSubmit" id="addProduct">
	    <div class="popupTitle">
	    	Submit your gift
	    </div>
	    <div class="container">
	    	<form id="productUrl" method="post" action="/products/parseUrl">
	    		<div class="inputContainer">
	    			<div class="inner">
	    				<span class="label">URL</span>
	    				<input type="text" title="Paste your URL here"  class="input-text url-for-parsing" id="url" value="" name="url">
	    				<div class="progress"></div>
	    			</div>
	    		</div>
	    	</form>

	    	<div class="productInfo">
	    		<div class="imagesContainer">
	    			<div id="productInfo_images" class="images">
	    				<ul>
	    					<li>
	    						<img src="" alt="Product Name"/>
	    					</li>
	    					<li>
	    						<img src="" alt="Product Name"/>
	    					</li>
	    					<li>
	    						<img src="" alt="Product Name"/>
	    					</li>
	    				</ul>
	    			</div>
	    		</div>
	    		<form id="productForm" method="post" action="/products/add">
	    		<ul class="form-list">
	    			<input type="hidden" id="productForm_imageUrl" name="imageUrl" value="">
					<input type="hidden" name="subcategoryId" value="1">
					<input type="hidden" name="subcategoryId" value="2">
					<input type="hidden" name="type" value="image">
	    			<!--
	    			<li class="name">
	    				<input type="text" title="Name of the chosen product" class="input-text" id="name" value="Product Name" name="name">
	    			</li>
	    			-->
	    			<li class="description inputContainer">
	    				<div class="inner">
	    					<span class="label">Title</span>
	    					<input type="text" title="Name of the chosen product" class="input-text" id="descr" value="" name="descr">
	    				</div>
	    			</li>
	    			<li class="price inputContainer">
	    				<div class="inner">
	    					<span class="label">Price</span>
	    					<input type="text" title="Product price" class="input-text" id="price" value="" name="price">
	    				</div>
	    			</li>
	    			<div class="clear"></div>
	    			<li class="story inputContainer">
	    				<div class="inner">
	    					<span class="label">Gift story</span>
	    					<textarea class="input-text" title="Product story" id="story" name="story">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet, purus eget dapibus accumsan, ante dui lacinia tellus, ut pellentesque lacus libero sed tellus.</textarea>
	    				</div>
	    			</li>	    			
	    		</ul>
	    		<div class="buttonsContainer">
					<button type="submit" class="button blue">
	    				<span><span>Submit</span></span>
	    			</button>
	    		</div>
	    		</form>
	    	</div>
	    	
	    </div>
	</div>

	<!-- SELECT FRIEND POPUP -->
	<div class="selectFriend" id="selectFriend">
		<p class="title">Welcome to Skalka</p>
		<p class="hint">Pick one of your Facebook friends to find him a perfect gift</p>
		<div class="content">
		<div id="selectFriendForm" width="100px" method="post" action="">
	    	<ul class="formList">
				<li class="friend inputContainer">
				    <div class="inner">
				    	<input type="text" class="input-text" id="friend_finder" />
				    </div>
				</li>
				<li class="occasion inputContainer">
				    <div class="inner">
						<select id="occasionSelect" title="Please choose occasion">
							<option value="occasion1">Any occasion</option>
							<option value="occasion2">Birthday</option>
							<option value="occasion3">Wedding</option>
							<option value="occasion4">Graduation</option>
				        </select>
				    </div>

				</li>
			</ul>
			<div class="buttonsContainer">
				<button type="submit" class="button blue big" onclick="submitFriendForm();"><span><span>Let's rock!</span></span></button>
				<br/>
				<a class="close" onclick="$.fancybox.close();">Cancel</a>
			</div>
		</div>
		</div>
		<div class="bow"></div>
	</div>


	<!-- PRODUCT DETAILS POPUP -->
	<div class="productDetails" id="productDetails">
	    <div class="container" id="productDetailsContent"></div>
	</div>

	<!-- INVITE FRIENDS POPUP -->
	<div class="inviteFriends" id="inviteFriendsPopup">
		<div class="inviteBlock">
			<div class="blockTitle">
				Invite your friends
			</div>
			<ul class="tabs">
				<li id="inviteFriends_mutual">
					<a class="first" href="#">
						<span>Mutual Friends</span>
					</a>
				</li>
				<li id="inviteFriends_all">
					<a class="last" href="#">
						<span>All Friends</span>
					</a>
				</li>
			</ul>
			<div id="facebookFriendPicker" ></div>
			<button type="button" class="button blue" id="facebookFriendsInvite">
				<span><span>Invite!</span></span>
			</button>
		</div>
		<div class="participantsBlock">
		    <p class="title">Already participating</p>
			<ul id="participantsList"></ul>
		</div>
		<div class="clear"></div>
	</div>
</div> 
