<div class="hidden">
		
	<!-- SUBMIT NEW PRODUCT POPUP -->
	<div class="giftSubmit" id="addProduct">
	    <div class="title">
	    	Submit your gift
	    </div>
	    <div class="container">
	    	<form id="productUrl" method="post" action="/products/parseUrl">
	    		<div class="inputContainer">
	    			<div class="inner">
	    				<span class="label">URL</span>
	    				<input type="text" title="Paste your URL here" class="input-text" id="url" value="" name="url">
	    				<div class="progress"></div>
	    			</div>
	    		</div>
	    	</form>
	    	<div id="result"></div>
	    	<!--
	    	<div class="productInfo">
	    		<div class="imagesContainer">
	    			<div class="images">
	    				<ul>
	    					<li>
	    						<img src="<?php echo $url ?>product1.jpg" alt="Product Name"/>
	    					</li>
	    					<li>
	    						<img src="<?php echo $url ?>product2.jpg" alt="Product Name"/>
	    					</li>
	    					<li>
	    						<img src="<?php echo $url ?>product3.jpg" alt="Product Name"/>
	    					</li>
	    				</ul>
	    			</div>
	    		</div>
	    		<form id="productForm" method="post" action="#">
	    		<ul class="form-list">
	    			<input type="hidden" name="image" value="">
	    			<li class="name">
	    				<input type="text" title="Name of the chosen product" class="input-text" id="name" value="Product Name" name="name">
	    			</li>
	    			<li class="description">
	    				<textarea class="input-text" title="Product description" id="description" name="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet, purus eget dapibus accumsan, ante dui lacinia tellus, ut pellentesque lacus libero sed tellus.</textarea>
	    			</li>
	    		</ul>
	    		</form>
	    	</div>
	    	-->
	    	
	    </div>
	</div>
</div> 