<div class="col-left sidebar">
	<div class="friend-box">
		<div class="profile">
			<img src="@{'/public/images/userpic.png'}" alt="Valentin Kravtsov"/>
			<p class="label">Gift box for</p>
			<p class="friend-name">Valentin Kravtsov</p>
			<a class="edit-interests">Edit User's Interests</a>
		</div>
	</div>
	<input type="text" id="friend_finder"/><br/>
	<div class="giftList">
		<div class="userPic">
			<img src="@{'/public/images/userpic.png'}" alt="Valentin Kravtsov"/>
		</div>
		<ul class="items">
			<li class="spacer">&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<div class="clear"></div>
		</ul>
		<div class="arrow"></div>
		<p class="hint">
			Drag gifts from the feed to start building Valentin's giftlist
		</p>
	</div>
</div>