
<div class="col-left sidebar">
	<div class="giftList">
		<div class="userPic">
			<img src="@{'/public/images/userpic.png'}" alt="Valentin Kravtsov"/>
		</div>
		<div class="eventName">
			Valentin’s birthday gift
		</div>
		<ul class="items">
			<li class="item">
				<img src="@{'/public/images/content/product_thumb1.jpg'}" alt=""/>
			</li>
			<li class="item">
				<img src="@{'/public/images/content/product_thumb2.jpg'}" alt=""/>
			</li>
			<li class="add">Drag<br/> to add</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<li>&nbsp;</li>
			<div class="clear"></div>
		</ul>
	</div>
</div>