<div class="col-left sidebar feedSidebar">

	#{if _updated}
	<div class="giftList ui-droppable" id="giftListDropTargetUpdated" style="display:none;">
	#{/if}
	#{else}
	<div class="giftList" id="giftListDropTarget">
	#{/else}
		<script type="text/javascript">
			initItemsDragDrop("div.item", "#giftListDropTarget");
		</script>
		<div class="userPic">
			<a class="changeFriend" href="#selectFriend"><img src='${_user?.getImageUrl("normal")}' alt=""/></a>
		</div>
		#{if _giftBox}
    		<div class="eventName">
    			${_giftBox.name}	
    		</div>
    	#{/if}
		<ul class="items">		
			#{list items:_list, as:'item'}
					#{if item.isPlaceholder}
					<li>&nbsp;</li>
					#{/if}
					#{else}
					<li class="item product_icon" id="${item.id}" onclick="">
					<img src="@{Products.imageList(item.id)}" alt=""/>
					</li>
					#{/else}				
			#{/list}
			<li class="add">Drag<br/> to add</li>
			<div class="clear"></div>
		</ul>
		<script type="text/javascript">
			setListnersOnIcons();
		</script>
	</div>
	<div class="collab">
		<div class="info">
			<p class="status">Not shared!</p>
			<p class="hint">
				Invite friends to help you choose.<br/>
				You have <span id="number_of_common_friends">23 in common</span> :
			</p>
		</div>
		<div class="friends">
			<ul class="suggestions">
				<li>
					<img src="@{'/public/images/userpic.png'}" alt="Friend avatar"/>
				</li>
				<li>
					<img src="@{'/public/images/userpic.png'}" alt="Friend avatar"/>
				</li>
				<li>
					<img src="@{'/public/images/userpic.png'}" alt="Friend avatar"/>
				</li>
				<li>
					<img src="@{'/public/images/userpic.png'}" alt="Friend avatar"/>
				</li>
			</ul>
			<a class="button blue inviteFriendsButton" href="#inviteFriendsPopup" title="Invite your friends">
				<span><span>Invite</span></span>
			</a>
		</div>
	</div>
</div>