<div>
 	<input class="voteForButton #{if _userActionInList?.userAction == 'y'}pressed#{/if}" type="button" value="Yes" onclick="userAction(${_product.id}, 'y')">
 	<input class="voteAgainstButton #{if _userActionInList?.userAction == 'n'}pressed#{/if}" type="button" value="No" onclick="userAction(${_product.id}, 'n')">
	<div class="voteRatebar">
	    <div class="voteRatebarLikes" style="width: ${_likePercentage}"></div>
	    <div class="voteRatebarDislikes" style="width: ${_dislikePercentage}"></div>
	</div>
</div>