
<button class="button voteForButton #{if _userActionInList?.userAction == 'y'}pressed#{/if}" type="button" onclick="userAction(${_product.id}, 'y')">
    <span><span>Yes</span></span>
</button>
<button class="button voteAgainstButton #{if _userActionInList?.userAction == 'n'}pressed#{/if}" type="button" onclick="userAction(${_product.id}, 'n')">
    <span><span>No</span></span>
</button>
<div class="clear"></div>
<div class="voteRatebar">
    <div class="voteRatebarLikes" style="width: ${_likePercentage}"></div>
    <div class="voteRatebarDislikes" style="width: ${_dislikePercentage}"></div>
</div>
