<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<meta name="viewport" content="maximum-scale=1.0, width=1024">
		
		<title>Skalka</title>
		<link rel="icon" href="#" type="image/x-icon" />
		<link rel="shortcut icon" href="#" type="image/x-icon" />

		<link rel="stylesheet" type="text/css" href="@{'/public/css/reset.css'}" />
		<link rel="stylesheet" type="text/css" href="@{'/public/css/style.css'}" />

	</head>

	<body>
		<div class="wrapper">
			<div class="page">
				<div class="main-container col1-layout">
					<div class="main login">
						<a class="logo" href="@{Application.index(null, false, null)}">
							<img src="/public/images/logo_big.png" alt="Skalka logo" />
						</a>
						<div class="clear"></div>
						<div class="loginBox">
							<h1>Gift selection made easy</h1>
							<p>
								Soufflé jujubes marshmallow powder faworki. Liquorice cotton candy donut dessert 
								brownie. Marzipan macaroon pie jelly beans powder faworki soufflé. Halvah donut 
								croissant danish cookie faworki.
							</p>
							#{fbconnect.button label:'Log in with Facebook', cssClass:'play-fbconnect-button', scope:'email,publish_stream,offline_access,create_event' /}
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

