<div class="info">

	<div class="imageBox">
		<div class="inner">
	    	<img src="@{Products.imageFeed(product.id)}" alt="${product.id}"/>
	    </div>
	</div>
	
	<h1 class="title">${product.descr}</h1>
	
	#{if userActionInList}
	<div id="votingPanel">
		#{voting userActionInList:userActionInList, product:product, likePercentage:likePercentage, dislikePercentage:dislikePercentage/}
	</div>
	#{/if}
	
	<div class="description">
		${product.story}
	</div>
		
	<div class="actions">
	
		<button class="buy button blue" type="button" onclick="javascript:window.location='${product.productUrl}';">
	    	<span><span>Buy</span></span>
		</button>
		
		#{if userActionInList}
		<button class="removeProductButton button blue" type="button" onclick="removeProductFromList(${product.id})">
			<span><span>Remove</span></span>
		</button>
		#{/if}
		
		#{if shouldHaveAddToListButton}
		<button class="addToListButton button blue" type="button" onclick="addProductToList(${product.id});">
			<span><span>Add</span></span>
		</button>
		#{/if}
		
		<div class="clear"></div>
	</div>

	<div class="price">
	    <div>
	    	${product.getPrice()}
	    </div>
	</div>
	
</div>

<div class="comments">
	<img src="/public/images/content/product_comments.png"/>
</div>

<div class="clear"></div>