<div class="product_details" id="${product.id}" data-id="${product.id}">
	<div class="image-box">
		<img src="@{Products.imageFeed(product.id)}" alt="${product.id}"/>
		<div class="price">
			<div>
				${product.price}
			</div>
		</div>
	</div>
	<p class="description">
		${product.descr}
	</p>
	<div class="user-info">
		<div class="user-img">
			<img src="${product.getAuthor()?.getImageUrl()}" alt="user's image"/>
		</div>
		<p class="user-name">
			Submitted by
			<span>${product.getAuthor()}</span>
		</p>
		<div class="clear">
		</div>
	</div>
</div>
#{if fromList}
   Colloboration goes here
#{/if}
#{else}
	<input type="button">Some button</input>
#{/else}